:root {
    --primary-color: rgb(69, 67, 114);
    --secondary-color: rgb(184, 212, 227);
    --secondary-color-4: rgb(184, 212, 227, 0.4);
    --secondary-color-5: rgb(184, 212, 227, 0.5);
    --token-color: rgb(80, 114, 85);
    --warning-color: rgb(194, 208, 118);
    --danger-color: rgb(255, 56, 100);
    background-color: var(--token-color);
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}